<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.book.mapper.BookMapper">
	
	<!-- 등록 -->
	<insert id="insert" >
		<selectKey keyProperty="bookNo" order="BEFORE" resultType="long">
		  SELECT bookNo.nextval
		  FROM   dual
		</selectKey>
	INSERT INTO BOOK_TBL_06(BOOK_NO, BOOK_NAME, BOOK_COVERIMG, BOOK_DATE, BOOK_PRICE, BOOK_PUBLISHER, BOOK_INFO)
        VALUES ( #{bookNo}, #{bookName}, #{bookCoverimg}, #{bookDate}, #{bookPrice}, #{bookPublisher}, #{bookInfo})
	</insert>
	
	<select id="getbookList">
		SELECT  book_no,
		        book_name,
				book_coverimg,
				book_date,
				book_price,
				book_publisher,
				book_info
		FROM 	book_tbl_06
	</select>
	
</mapper>