<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>도서목록조회</title>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

img {
	width: 100px;
	height: 100px;
}
</style>

</head>
<body>
	도서대여관리
	<hr>
	<div id="homemenu" th:insert="~{menu}"></div>
	<div>도서 조회/수정</div>
	<table>
		<thead>
			<tr>
				<th>도서번호</th>
				<th>도서명</th>
				<th>표지</th>
				<th>출판일자</th>
				<th>금액</th>
				<th>출판사</th>
				<th>도서소개</th>
			</tr>
		</thead>
		<tbody id="list">
			<tr th:each="book : ${bookList}">
				<td th:text="${book.bookNo}"></td>
				<td th:text="${book.bookName}"></td>
				<td>
					<img th:src="@{|/images/${book.bookCoverimg}|}" /> 
				</td>
				<td th:text="${book.bookDate}"></td>
				<td th:text="${#numbers.formatDecimal(book.bookPrice, 0, 'COMMA', 0, 'POINT')}"></td> 
				<td th:text="${book.bookPublisher}"></td>
				<td th:text="${book.bookInfo}"></td>
			</tr>
		</tbody>
	</table>
    <script>
	// getList() 함수 및 fetch 코드를 모두 제거합니다.
	</script>
</body>
</html>